@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVisitasPyPModel
@{
}
<h1> Detalles del DetallesVisitasPyP</h1>
<div>
    <ul>
        <li> Id: @Model.visitasPyP.Id</li>
        <li>Cedula: @Model.visitasPyP.FechaVisita</li>
        <li>Nombre: @Model.visitasPyP.Temperatura</li>
        <li>Apellidos: @Model.visitasPyP.Peso</li>
        <li>Direccion: @Model.visitasPyP.FrecuenciaRespiratoria</li>
        <li>Telefono: @Model.visitasPyP.FrecuenciaCardiaca</li>
        <li>estado de animo: @Model.visitasPyP.EstadoAnimo</li>
        <li>veterinario: @Model.visitasPyP.CedulaVeterinario</li>
        <li>recomendaciones: @Model.visitasPyP.Recomendaciones</li>

        </ul>
   
<div><img src="https://assets-global.website-files.com/5a43f26a7b791a0001995f0f/5e55268ae8e4b70b403f854a_Co%CC%81mo-organizar-tus-visitas-domiciliarias-en-Trabajo-Social-con-Trello.png" width="500" heigth="550"alt=""></div>
    
</div>
<a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños</a>
