@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}
<h1> Detalles de la Mascota</h1>



    Id: @Model.mascota.Id


    Nombre: @Model.mascota.Nombre


    Especie: @Model.mascota.Especie

    Color: @Model.mascota.Color

    Raza: @Model.mascota.Raza



    Propietario:



    Veterinario: 




    Historia: 





<button class="bi bi-1-square-fill" asp-page=".ListaMascotas"  >listas mascotas</button>


<a asp-page="./ListaMascotas" class="btn-default">Lista de Mascotas</a>